/* Style the header */
.header {
    padding: 10px 16px;
    background: rgb(22, 27, 31);
    color: #f1f1f1;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }
  .resume-body {
    position: center;
    margin-left: auto;
  }
  blockquote {
    color : #666;
    font-size : 0.95em;
    margin-top : 0px;
    margin-bottom : 1em;
    padding-top : 0;
    padding-bottom : 0;
    margin-left : 10px;
    padding-left : 10px;
    border-left : 1px solid silver;
  }
  .blockquote-para {
    margin-left: 30px;
  }